<title>Nooby RBLX</title>
<meta charset="utf-8">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="the website sharing my Roblox Account's Assets and others">
<meta property="og:title" content="The Nooby RBLX">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png?iv=1r">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png?iv=1r">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png?iv=1r">
<link rel="manifest" href="/assets/icon/site.webmanifest?iv=1r">
<link rel="mask-icon" href="/assets/icon/safari-pinned-tab.svg?iv=1r" color="#2400ff">
<link rel="shortcut icon" href="/assets/icon/favicon.ico?iv=1r">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="/assets/icon/mstile-144x144.png?iv=1r">
<meta name="msapplication-config" content="/assets/icon/browserconfig.xml?iv=1r">
<meta name="theme-color" content="#e5e1ff">