/*!* Font css changing * * you can use this style without copyright description or some. * * IDs * enc-f barcode-f mont-f jp-f open-sans-f roboto-f sanp-f ubun-f * font-weights * bold bolder lighter * * * font-family: 'BIZ UDGothic', sans-serif; * font-family: 'BIZ UDPGothic', sans-serif; * font-family: 'BIZ UDPMincho', serif; * font-family: 'Encode Sans', sans-serif; * font-family: 'Libre Barcode 39 Extended Text', cursive; * font-family: 'Montserrat', sans-serif; * font-family: 'Noto Sans JP', sans-serif; * font-family: 'Open Sans', sans-serif; * font-family: 'Roboto', sans-serif; * font-family: 'Source Sans Pro', sans-serif; * font-family: 'Ubuntu', sans-serif; !*/
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    text-align: center;
    background: 20% url('https://nooby-rblx.github.io/assets/img/back.png');
  color: white;
  text-shadow: 0 0 2px black;
}

/* Font IDs */
#enc-f{
    font-family:'Encode Sans',sans-serif;
}
#barcode-f{
    font-family:'Libre Barcode 39 Extended Text',cursive;
}
#mont-f{
    font-family:'Montserrat',sans-serif;
}
#jp-f{
    font-family:'Noto Sans JP',sans-serif;
}
#open-sans-f{
    font-family:'Open Sans',sans-serif;
}
#roboto-f{
    font-family:'Roboto',sans-serif;
}
#sanp-f{
    font-family:'Source Sans Pro',sans-serif;
}
#ubun-f{
    font-family:'Ubuntu',sans-serif;
}
/* font Weights */
#bold{
    font-weight:bold;
}
#bolder{
    font-weight:bolder;
}
#lighter{
    font-weight:lighter;
}

/* font Styles  */
#italic{
    font-style:normal;
}
#oblique{
    font-style:oblique;
}