img {
    border-radius: 16px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 6px;
}
#container {
  margin: 0;
  padding: 0px;
  box-shadow: inset 0px 0px 16px 1px rgba(255, 255, 255, 0.25);
  height: 100vh;
  width: 100vw;
}

header{
  background: darkgrey;
  border-radius: 16px;
  border: solid rgba(0,0,0,0.2);
  text-align: center;
  margin: 0;
}
header > p {
  color: white;
  margin: 0;
}