<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div id="container">
          <div id="loader">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <p id="loadings">client is downloading website data...</p>
          </div>
          <!-- Google Tag Manager (noscript) -->
          <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KG5CLP3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
          </noscript>
          <!-- End Google Tag Manager (noscript) -->
          <header>
            Nooby RBLX
            <p id="enc-f bold">This creator's Fun facts:</p>
            <p id="fun-fact-cont">Coming Soon!</p>
          </header>
          {{ content }}
        </div>
      </body>
</html>